

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;


  --cube-large-size: 14px;
  --cube-small-size: 10px;
}

.filled {
  width: var(--cube-large-size);
  height: var(--cube-large-size);
  border-radius: 2px;
}

.grid[data-size='small'] .filled,
.grid[data-size='small'] .remaining,
.grid[data-size='small'] .over {
  width: var(--cube-small-size);
  height: var(--cube-small-size)  ;
}

.grid[data-size='small'] .over::before {
  height: var(--cube-small-size);
}
.grid[data-size='small'] .over::after {
  width: var(--cube-small-size);
}

.remaining {
  width: var(--cube-large-size);
  height: var(--cube-large-size);
  border-radius: 2px;
  border: 1.5px solid;
  box-sizing: border-box;
}

.new {
  position: relative;
  width: var(--cube-large-size);
  height: var(--cube-large-size);
  border-radius: 2px;
  border: 1.5px solid;
  box-sizing: border-box;
}

.new::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 1px;
  background: currentColor;
}

.grid[data-size='small'] .new {
  width: var(--cube-small-size);
  height: var(--cube-small-size);
}

.grid[data-size='small'] .new::after {
  width: 4px;
  height: 4px;
}

.over {
  width: var(--cube-large-size);
  height: var(--cube-large-size);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
}

.over::before {
  content: '';
  position: absolute;
  height: var(--cube-large-size);
  width: 2px;
  background: currentColor;
}

.over::after {
  content: '';
  position: absolute;
  width: var(--cube-large-size);
  height: 2px;
  background: currentColor;
}

