.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.filled {
  width: 16px;
  height: 16px;
  border-radius: 2px;
}

.grid[data-size='small'] .filled,
.grid[data-size='small'] .remaining,
.grid[data-size='small'] .over {
  width: 10px;
  height: 10px;
}

.grid[data-size='small'] .over::before {
  height: 10px;
}
.grid[data-size='small'] .over::after {
  width: 10px;
}

.remaining {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1.5px solid;
  box-sizing: border-box;
}

.over {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
}

.over::before {
  content: '';
  position: absolute;
  height: 16px;
  width: 2px;
  background: currentColor;
}

.over::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
}

